# Ignore Python cache files and directories
__pycache__/
*.py[cod]

# Ignore log files
*.log


# Ignore other typical Python cache files
*.egg-info/
*.eggs/
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/
ENV/
.env
scripts/